body {
  overflow:hidden;
}
.sidebar {
  height: 100vh;
  overflow-y: scroll;
  background-color: #00b0a3;
  color:#fff;
}
.main-pane {
  height: 100vh;
  overflow-y: scroll;
}
.sidebar a {
  color: #fff;
}
.navbar.bg-light.fixed-top {
  background-color: #009687 !important;
  color: #fff;
}
.navbar a, .navbar-light a.navbar-brand {
  color: #fff;
}

.temp-nav .list-inline-item {
  margin-bottom: 0;
}
.temp-nav ul, .icon-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 0;
}
details ul {
  padding-left: 1em;
}
.btn.btn-primary {
  background-color: #00b0a3;
  border-color: #00b0a3;
  border-radius: 0;
}
.btn.btn-primary:hover {
  background-color: #009687;
  border-color: #009687;
}
ul li {
    list-style-type: none;
    margin-bottom:.5em;
}
.asset-tools li {
    text-align: center;
}
.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
.modalbox {
  color: #333;
}
.uploadholder {
  display:block;
  text-align: center;
}
.uploadbox {
  border: 3px dashed #cfcece;
  display:inline-block;
  float:0 auto;
  border-radius: 5px;
}
.asset-tools .list-inline-item a {
  background-color: #fff;
  color:#333;
  border-radius: 0;
  display: flex;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.asset-tools .list-inline-item a:hover {
  background-color: #eee;
}
.asset-tools .list-inline-item a:active {
  background-color: #ddd;
}
.icon-nav li {
  margin-bottom: 0;
}
.icon-nav li a {
  border-radius: 0;
  display: flex;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.icon-nav li a:hover {
  background-color: #1BAFA3;
  color: #fff;
}